.container {
    margin-top: 5rem;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item {
    width: 50%;
}

.main-img {
    width: 75%;
}

.item {
    margin-left: 10rem;
}

.flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    animation: slide 20s linear infinite alternate;
    position: relative;
}

.card-img {
    height: 2rem;
    padding: 0.5rem 1rem;
}

.flex-card {
    min-width: 25rem;
}

.top-coin {
    overflow-x: hidden;
}

@keyframes slide {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}

@media screen and (max-width : 768px){
    .flex-container {
        flex-direction: column;
        animation: none !important;
    }
    .flex-item {
        padding: 2rem;
        width: 100%;
    }
    .flex-item .item {
        margin-left: 2rem;
        justify-content: flex-start;
    }

}

@media screen and (max-width : 550px) {
    .top-coin {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
}